<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
		<file>/app/log/app.log</file>
		<encoder>
			<pattern>%date %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

  <root>
		<appender-ref ref="LOGFILE" />
  </root>

</configuration>
