<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
		<file>/app/log/app.log</file>
		<append>true</append>
		<encoder>
			<pattern>%-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="LOGFILE" />
	</root>

	<property name="root.level.console" value="OFF" />
</configuration>
